html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
  padding-top: 10px;  
  width: 100%;
}

#main-page {
  position:relative;
  height: 600px;
  overflow: hidden;
}

#mountains {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  display: block;
  z-index: 0
}

#lake {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  display: block;
  z-index: 1
}

#trees {
  position: absolute;
  width: 900px;
  margin-left: -450px;
  margin-right: -450px;
  display: block;
  left: 50%;
  right: 50%;
  z-index: 2;
}

#hero {
  position: relative;
  z-index: 3;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 40px;
}

#date {
  position: relative;
  z-index: 3;
  width: 150px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#date h2 {
  font-family: 'Rokkitt', serif;
  margin-right: auto;
  margin-left: auto;
  color: #354A5F;
  font-size: 28pt;
  line-height:10px;
}

#date p{
  font-family: 'Rokkitt', serif;
  color: #354A5F;
  line-height:10px;
  margin-left: auto;
  margin-right: auto;
}

#aiga img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#aiga {
  background-color: #526361;
  position: relative;
  z-index: 10;
  height: 75px;
  margin-top: 20px;
}

img.responsive {
  width : 100%;
  height: auto;
}

#lines {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 437px;
  left: 50%;
  right: 50%;
  margin-right: -235px;
  margin-left: -235px;
  margin-top: 50px;
}

#bird_registration {
  position: relative;
  height: 200px;
  width: 100%;
}

#bird {
  display: block;
  position: relative;
  padding-top: 42px;
  margin-bottom: -43px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.button {
  background-color: #6AA135;
  border-radius: 28px;
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Rokkitt', serif;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  padding: 16px 31px;
  position: relative;
  left: 109px;
  bottom: -44px;
  z-index: 10;
  }

.dollars {
  font-family: 'Rokkitt', serif;
  color: #6AA135;
  font-size: 50px;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 43px;
}

.primary {
  text-align: left;
  font-family: 'Rokkitt', serif;
  margin: 50px;
  margin-top: 0px;
  margin-left: 58px;
}

.primary h2 {
  color: #39495E;
}

.primary p {
  color: #5C6B73;
}

.part2 {
  text-align: center;
  font-family: 'Rokkitt', serif;
  margin: 50px;
}

#top-h2 {
  padding-top: 50px;
  border-top: dashed #E1DAD5 2px;
  margin-bottom: 0px;
  color: #39495E;
}

#bottom-h2 {
  margin-top: 0px;
  color: #39495E;
}

.categories {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  margin-bottom: 150px;
}

.categories h3 {
  color: #639C22;
}

.categories p {
  color: #755751;
}

.categories img {
  height: 200px;
  width: 200px;
}

#creative h3{
  border-top: solid #DFDFDF 2px;
  padding-top: 50px;
}

#technology h3{
  border-top: solid #DFDFDF 2px;
  padding-top: 50px;
}

#kitchen h3{
  border-top: solid #DFDFDF 2px;
  padding-top: 50px;
}

.wood {
  background-image: url("assets/board.jpg");
  padding-bottom: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
}

#schedule {
  text-align: center;
  margin-top: 75px;
  padding-top: 75px;
  padding-bottom: 65px;
  margin-left: 30px;
  margin-right: 40px;
}

.events {
  font-family: "Lucida Bright", Georgia, serif;
  text-align: center;
}

.events h1 {
  color: #F3CE42;
  font-size: 250%;
  margin-left: 25px;
  margin-right: 10px;
}

.events p {
  color: #FEFEFE;  
  font-size: 110%;
  font-weight: lighter;
  margin-left: 30px;
  margin-right: 25px;
}

.circle {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  padding: 8px;
  padding: 4px;
  border: 3px solid #D0572B;
}

.time-font {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 32px;
  color: #FEFEFE;  
}

.am-pm {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 14px;
  color: #FEFEFE; 
}

.times {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #FEFEFE;  
  text-align: center;
  padding-top: 50px;
  margin: 20px;
}

.times p {
  font-weight: 100;
  margin-left: 20px;
  margin-right: 10px;
}

#fire {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
}

#faq {
  background-color: #CAECF8;
  padding-top: 10px;
}

#faq-img {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
} 

#faq ul {
  list-style: none;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-size: 21px;
  font-weight: bold;
  color: #8E5B30;
  padding-left: 0;
}

#faq li {
  background: url("assets/plus.png") left no-repeat; 
  padding-left: 43px; 
  padding-bottom: 25px;
  padding-top: 26px;
  margin-left: 20px;
  margin-right: 10px;
}

#treehouse {
  margin-top: 70px;
  position: relative;
  top: 5px;
}

#footer {
  position: relative;
  height: 600px;
  overflow: hidden;
}


#footer-bg {
  width: 900px;
  position: absolute;
  margin-top: -200px;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  display: block;
  z-index: 0
}

#hill {
  width: 998px;
  position: absolute;
  margin-top: 338px;
  margin-right: -450px;
  margin-left: -502px;
  right: 50%;
  left: 50%;
  display: block;
  z-index: 1;
}

#sign {
  width: 200px;
  position: absolute;
  margin-top: 256px;
  margin-right: 0px;
  margin-left: -105px;
  right: 50%;
  left: 50%;
  display: block;
  z-index: 2;
}


